group-up-frontend/node_modules/
group-up-frontend/package-lock.json
group-up-frontend/.idea/
group-up-frontend/dist/
group-up-frontend/.vscode/
group-up-backend/GroupUpBackend/bin/
group-up-backend/GroupUpBackend/obj/
group-up-backend/GroupUpBackend/.vs/
group-up-backend/.vs/