assignment-problem/node_modules/
assignment-problem/package-lock.json
assignment-problem/.idea/
assignment-problem/dist/
assignment-problem/.vscode/
Core/Core/bin/
Core/Core/obj/
Core/Core/.vs/
Core/.vs/
Core/Core.exe