assignment-problem/node_modules/
assignment-problem/package-lock.json
assignment-problem/.idea/
assignment-problem/dist/
Core/Core/bin/
Core/Core/obj/
assignment-problem/dist/
assignment-problem/release-builds/
Core/.vs/Core/v16/.suo
Core/.vs/Core/DesignTimeBuild/.dtbcache.v2
Core/.vs/Core/v16/.suo
Core/.vs/Core/DesignTimeBuild/.dtbcache.v2
Core/.vs/Core/v16/.suo
Core/Bin
Core/Core.exe