@import "../styles/variables.sass";
@import "~antd/dist/antd.dark.css";
@import "../styles/antdModify.scss";

.dark {
  @import "~antd/dist/antd.dark.css";
}
.light {
  @import "~antd/dist/antd.css";
}

body {
  background-color: $form-background;
}

.body-container {
  min-height: calc(100vh - 80px - 30px);
}

.header-container {
  background-color: $secondary;
  text-align: center;
  padding: 10px;
  h1 {
    font: 3rem "Staatliches";
    color: #ffffff;
    margin: 0;
  }
}
.container {
  margin: 10px;
}

.page {
  padding: 10px;
}

.theme-button {
  display: inline;
}

.no-display {
  display: none !important;
}
.hide {
  visibility: hidden;
}

.solution-nav {
  text-align: center;
  position: static;
}
.solution-button-container {
  display: initial;
}

.solution-number {
  display: initial;
  margin: 10px;
}
.button-instructions {
  float: right;
}

.align-top {
  vertical-align: top;
}

.upload {
  display: inline-block;
}

.input-group-size {
  display: block;
}

.group-container {
  max-width: fit-content;
  min-width: 70%;
  margin: auto;
}

// Groups
.name-column {
  background: $form-background-secondary;
}

.nowrap {
  white-space: nowrap;
}

// Student Columns

.notValid {
  background: rgba(255, 0, 0, 0.3);
  border: red 1px solid;
  border-radius: 3px;
}

.block {
  display: block;
}

.data-warning {
  animation: borderWidth 1s infinite;
}

@keyframes borderWidth {
  0% {
    box-shadow: 0 0 0 2px $primary;
  }
  100% {
    box-shadow: 0 0 0 5px $primary;
  }
}
